<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script crossorigin="anonymous"
        src="https://cdn.polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.includes,Array.prototype.find,Array.prototype.findIndex,Array.prototype.keys,Function.name,Object.fromEntries,Intl.~locale.en,Promise.prototype.finally"></script>

    <link type="text/css" rel="stylesheet" data-font-name="Roboto"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" data-loaded="true">
</head>

<body
    style="overflow-x: hidden; background: transparent; --render-scale: 0.9735516372795969;"
    data-new-gr-c-s-check-loaded="14.1142.0" data-gr-ext-installed="">
    <div id="cv-render" class="bgGrayCustom">
        <div class="cv-wrapper customize-preview not-pro isFillInSplitView">
            <div
                style="width: 794px; transform: scale(0.973552); transform-origin: 50% 0px; max-height: 1170.21px; transition: all 0.5s ease-in-out 0s;">
                <div class="page-wrapper template basic a4 rob-rob fs-13 lh-16 whi" style="width: 794px;">
                    <div>
                        <div class="outer-page grid-100 b">
                            <div class="page first-page" data-part="1" data-count="1">
                                <div class="top-ornament"></div><svg
                                    class="preview-overlay PreviewOverlay__preview-overlay___rbwwTqTcpq" version="1.1"
                                    id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    viewBox="0 0 1152 210" enable-background="new 0 0 1152 210;">
                                    <g>
                                        <path
                                            d="M139.5,69.4c0,20.5-6.4,36.2-19.2,47c-12.8,10.9-31,16.3-54.6,16.3H48.3v67.7H8V10h60.8c23.1,0,40.7,5,52.7,14.9 C133.5,34.9,139.5,49.7,139.5,69.4z M48.3,99.7h13.3c12.4,0,21.7-2.5,27.9-7.4c6.2-4.9,9.2-12,9.2-21.4c0-9.5-2.6-16.5-7.7-21 c-5.2-4.5-13.3-6.8-24.3-6.8H48.3V99.7z">
                                        </path>
                                        <path
                                            d="M215.8,127.4v73.1h-40.4V10H231c25.9,0,45,4.7,57.4,14.1c12.4,9.4,18.6,23.7,18.6,42.9c0,11.2-3.1,21.2-9.2,29.9 c-6.2,8.7-14.9,15.6-26.2,20.5c28.7,42.8,47.3,70.5,56,83h-44.8l-45.5-73.1H215.8z M215.8,94.6h13c12.8,0,22.2-2.1,28.3-6.4 c6.1-4.3,9.1-10.9,9.1-20.1c0-9-3.1-15.5-9.3-19.3c-6.2-3.8-15.8-5.7-28.9-5.7h-12.2V94.6z">
                                        </path>
                                        <path
                                            d="M461.2,200.5H351.6V10h109.7v33.1h-69.3v41.8h64.5V118h-64.5v49.1h69.3V200.5z">
                                        </path>
                                        <path
                                            d="M609.6,10h40.8l-64.7,190.4h-44L477,10h40.8l35.8,113.3c2,6.7,4.1,14.5,6.2,23.4c2.1,8.9,3.5,15.1,4,18.6 c1-8,4.2-22,9.8-41.9L609.6,10z">
                                        </path>
                                        <path d="M674.3,200.5V10h40.4v190.4H674.3z"></path>
                                        <path
                                            d="M872.3,200.5H762.6V10h109.7v33.1H803v41.8h64.5V118H803v49.1h69.3V200.5z">
                                        </path>
                                        <path
                                            d="M1097.5,200.5h-46l-25.8-100c-1-3.6-2.6-10.9-4.9-22.1c-2.3-11.2-3.6-18.6-4-22.5c-0.5,4.7-1.8,12.2-3.9,22.6 c-2.1,10.4-3.7,17.8-4.8,22.2l-25.7,99.8h-45.8L888.1,10h39.7L952.1,114c4.3,19.2,7.3,35.8,9.2,49.9c0.5-4.9,1.7-12.6,3.6-23 c1.9-10.4,3.6-18.4,5.3-24.2L998,10h38.2l27.7,106.7c1.2,4.8,2.7,12.1,4.6,21.9c1.8,9.8,3.2,18.2,4.2,25.3 c0.9-6.8,2.3-15.2,4.2-25.3c1.9-10.1,3.6-18.3,5.2-24.6L1106.2,10h39.7L1097.5,200.5z">
                                        </path>
                                    </g>
                                </svg>
                                <div class="general-section kickresume-section-hover-frame basic no-avatar">
                                    <h2 class="name"><span> Tarun Gupta </span></h2>
                                    <h6 class="headline type-two headline-asTyped">
                                        <div class="background-wrapper"><span class="text">Personal Information</span>
                                        </div>
                                    </h6>
                                    <div class="general-info-wrapper"><span class="general-info no-avatar">
                                            <div class="info-wrapper"><span class="key">Date of birth: </span><span
                                                    class="value">14-10-1999</span></div>
                                            <div class="info-wrapper"><span class="key">Nationality: </span><span
                                                    class="value">Indian</span></div>
                                            <div class="info-wrapper"><span class="key">Address: </span><span
                                                    class="value">1678/3 Vijaynagar Chappar Rampur, Jabalpur 482001,
                                                    India</span></div>
                                            <div class="info-wrapper"><span class="key">Phone number: </span><a
                                                    class="value" href="tel:6267584394">6267584394</a></div>
                                            <div class="info-wrapper"><span class="key">Email address: </span><a
                                                    class="value" href="mailto:tarungupta08100509@gmail.com"
                                                    target="_blank"
                                                    rel="noopener noreferrer nofollow ugc">tarungupta08100509<wbr>@gmail.com</a>
                                            </div>
                                            <div class="info-wrapper"><span class="key">Web: </span><a class="value"
                                                    href="https://www.linkedin.com/in/tarun-gupta-345748227/"
                                                    target="_blank"
                                                    rel="noopener noreferrer nofollow ugc">https://www.linkedin.com/in/tarun-gupta-345748227/</a>
                                            </div>
                                        </span></div>
                                </div>
                                <div class="column-wrapper rich-text-section kickresume-section-wrapper kickresume-section-hover-frame"
                                    id="profile">
                                    <h6 class="headline type-two headline-asTyped">
                                        <div class="background-wrapper"><span class="text">Profile</span></div>
                                    </h6>
                                    <div class="text-area rich-text-area">
                                        <div part="0">
                                            <ul part="0">
                                                <li class="description " part="0"><span>2+ </span><span>years
                                                    </span><span>of </span><span>experience </span><span>in
                                                    </span><span>the </span><span>IT </span><span>Recruiting
                                                    </span><span>Industry, </span><span>have </span><span>been
                                                    </span><span>working </span><span>as </span><span>an </span><span>IT
                                                    </span><span>Recruiter.</span></li>
                                                <li class="description " part="0"><span>Complete </span><span>knowledge
                                                    </span><span>of </span><span>Full </span><span>Life-Cycle
                                                    </span><span>recruiting </span><span>including
                                                    </span><span>screening </span><span>and
                                                    </span><span>interviewing.</span></li>
                                                <li class="description " part="0"><span>Skilled </span><span>in
                                                    </span><span>handling </span><span>Clients </span><span>in
                                                    </span><span>an </span><span>excellent </span><span>way
                                                    </span><span>and </span><span>keeping </span><span>them
                                                    </span><span>happy </span><span>by </span><span>providing
                                                    </span><span>the </span><span>best </span><span>of </span><span>the
                                                    </span><span>best </span><span>service.</span></li>
                                                <li class="description " part="0"><span>Excellent </span><span>written,
                                                    </span><span>verbal </span><span>analytical, </span><span>and
                                                    </span><span>problem-solving </span><span>skills.</span></li>
                                                <li class="description " part="0"><span>Computer
                                                    </span><span>proficiency </span><span>in </span><span>Microsoft
                                                    </span><span>Office </span><span>Suite </span><span>2003,2007,
                                                    </span><span>2010,2013,2016 </span><span>(MS-WORD, </span><span>MS
                                                    </span><span>Outlook, </span><span>MS </span><span>EXCEL,
                                                    </span><span>MS-POWERPOINT), </span><span>Dice,
                                                    </span><span>Monster, </span><span>other </span><span>Search
                                                    </span><span>engines.</span></li>
                                            </ul>
                                        </div>
                                        <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                                    id="7c296575-4bcd-4444-860a-432ac6684a22">
                                    <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    <h6 class="headline type-two headline-asTyped">
                                        <div class="background-wrapper"><span class="text">Work experience</span></div>
                                    </h6>
                                    <div class="experience-item">
                                        <div class="column left-column-render">
                                            <div class="left-column-wrapper">
                                                <div class="date"><span></span></div>
                                            </div>
                                        </div>
                                        <div class="column right-column-render">
                                            <div class="experience-info">
                                                <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">
                                                    &nbsp;</div>
                                                <div class="position"></div>
                                                <div class="company-name"></div>
                                            </div>
                                            <div class="experience-description">
                                                <div part="0">
                                                    <div class="description " part="0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                                    id="8d0abb98-b0e0-4c91-a1b0-45ea2195c12d">
                                    <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    <h6 class="headline type-two headline-asTyped">
                                        <div class="background-wrapper"><span class="text">Education</span></div>
                                    </h6>
                                    <div class="experience-item">
                                        <div class="column left-column-render">
                                            <div class="left-column-wrapper">
                                                <div class="date"><span></span></div>
                                            </div>
                                        </div>
                                        <div class="column right-column-render">
                                            <div class="experience-info">
                                                <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">
                                                    &nbsp;</div>
                                                <div class="position"></div>
                                                <div class="company-name"></div>
                                            </div>
                                            <div class="experience-description">
                                                <div part="0">
                                                    <div class="description " part="0"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kickresume-section-wrapper kickresume-section-hover-frame skill-section type-one column-wrapper"
                                    id="d9c92d44-eea7-4161-a303-4391608a0929">
                                    <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    <h6 class="headline type-two headline-asTyped">
                                        <div class="background-wrapper"><span class="text">Skills</span></div>
                                    </h6>
                                    <div class="skill-category column-wrapper">
                                        <div class="skill-wrapper">
                                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;
                                            </div>
                                            <div class="skills">
                                                <div class="skills-row">
                                                    <div class="skill">
                                                        <div class="skill-name"></div>
                                                        <div class="skill-description-wrapper">
                                                            <div class="skill-description">
                                                                <div><i></i><i></i><i></i><i></i><i></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-ornament"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://d1civoyjepycei.cloudfront.net/static/js/sentry.conf.cfb91cb28894.js"></script>
    <script type="text/javascript">
        window.environment = 'production';
        window.allowed_origin = "*";
        if (!window.version) {
            window.version = 'development';
        }
    </script>
    <link href="https://d1civoyjepycei.cloudfront.net/static/assets/bundle/css/iframe-preview.be6a7ad5.css"
        rel="stylesheet">
    <script src="https://d1civoyjepycei.cloudfront.net/static/assets/bundle/js/iframe-preview.3df054e9.js"></script>


    <div style="overflow: hidden; max-height: 1px; position: absolute; top: 0;">
        <div style="opacity: 0;-moz-opacity: 0;filter: alpha(opacity=0);">
            <div class="template render basic a4 rob-rob fs-13 lh-16 whi" style="width: 794px;">
                <div class="outer-page grid-100 b">
                    <div class="page first-page" data-part="1" data-count="0">
                        <div class="top-ornament"></div><svg
                            class="preview-overlay PreviewOverlay__preview-overlay___rbwwTqTcpq" version="1.1"
                            id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1152 210"
                            enable-background="new 0 0 1152 210;">
                            <g>
                                <path
                                    d="M139.5,69.4c0,20.5-6.4,36.2-19.2,47c-12.8,10.9-31,16.3-54.6,16.3H48.3v67.7H8V10h60.8c23.1,0,40.7,5,52.7,14.9 C133.5,34.9,139.5,49.7,139.5,69.4z M48.3,99.7h13.3c12.4,0,21.7-2.5,27.9-7.4c6.2-4.9,9.2-12,9.2-21.4c0-9.5-2.6-16.5-7.7-21 c-5.2-4.5-13.3-6.8-24.3-6.8H48.3V99.7z">
                                </path>
                                <path
                                    d="M215.8,127.4v73.1h-40.4V10H231c25.9,0,45,4.7,57.4,14.1c12.4,9.4,18.6,23.7,18.6,42.9c0,11.2-3.1,21.2-9.2,29.9 c-6.2,8.7-14.9,15.6-26.2,20.5c28.7,42.8,47.3,70.5,56,83h-44.8l-45.5-73.1H215.8z M215.8,94.6h13c12.8,0,22.2-2.1,28.3-6.4 c6.1-4.3,9.1-10.9,9.1-20.1c0-9-3.1-15.5-9.3-19.3c-6.2-3.8-15.8-5.7-28.9-5.7h-12.2V94.6z">
                                </path>
                                <path d="M461.2,200.5H351.6V10h109.7v33.1h-69.3v41.8h64.5V118h-64.5v49.1h69.3V200.5z">
                                </path>
                                <path
                                    d="M609.6,10h40.8l-64.7,190.4h-44L477,10h40.8l35.8,113.3c2,6.7,4.1,14.5,6.2,23.4c2.1,8.9,3.5,15.1,4,18.6 c1-8,4.2-22,9.8-41.9L609.6,10z">
                                </path>
                                <path d="M674.3,200.5V10h40.4v190.4H674.3z"></path>
                                <path d="M872.3,200.5H762.6V10h109.7v33.1H803v41.8h64.5V118H803v49.1h69.3V200.5z">
                                </path>
                                <path
                                    d="M1097.5,200.5h-46l-25.8-100c-1-3.6-2.6-10.9-4.9-22.1c-2.3-11.2-3.6-18.6-4-22.5c-0.5,4.7-1.8,12.2-3.9,22.6 c-2.1,10.4-3.7,17.8-4.8,22.2l-25.7,99.8h-45.8L888.1,10h39.7L952.1,114c4.3,19.2,7.3,35.8,9.2,49.9c0.5-4.9,1.7-12.6,3.6-23 c1.9-10.4,3.6-18.4,5.3-24.2L998,10h38.2l27.7,106.7c1.2,4.8,2.7,12.1,4.6,21.9c1.8,9.8,3.2,18.2,4.2,25.3 c0.9-6.8,2.3-15.2,4.2-25.3c1.9-10.1,3.6-18.3,5.2-24.6L1106.2,10h39.7L1097.5,200.5z">
                                </path>
                            </g>
                        </svg>
                        <div class="bottom-ornament"></div>
                    </div>
                </div>
                <div class="outer-page grid-100 b">
                    <div class="page first-page" data-part="1" data-count="0">
                        <div class="top-ornament"></div><svg
                            class="preview-overlay PreviewOverlay__preview-overlay___rbwwTqTcpq" version="1.1"
                            id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1152 210"
                            enable-background="new 0 0 1152 210;">
                            <g>
                                <path
                                    d="M139.5,69.4c0,20.5-6.4,36.2-19.2,47c-12.8,10.9-31,16.3-54.6,16.3H48.3v67.7H8V10h60.8c23.1,0,40.7,5,52.7,14.9 C133.5,34.9,139.5,49.7,139.5,69.4z M48.3,99.7h13.3c12.4,0,21.7-2.5,27.9-7.4c6.2-4.9,9.2-12,9.2-21.4c0-9.5-2.6-16.5-7.7-21 c-5.2-4.5-13.3-6.8-24.3-6.8H48.3V99.7z">
                                </path>
                                <path
                                    d="M215.8,127.4v73.1h-40.4V10H231c25.9,0,45,4.7,57.4,14.1c12.4,9.4,18.6,23.7,18.6,42.9c0,11.2-3.1,21.2-9.2,29.9 c-6.2,8.7-14.9,15.6-26.2,20.5c28.7,42.8,47.3,70.5,56,83h-44.8l-45.5-73.1H215.8z M215.8,94.6h13c12.8,0,22.2-2.1,28.3-6.4 c6.1-4.3,9.1-10.9,9.1-20.1c0-9-3.1-15.5-9.3-19.3c-6.2-3.8-15.8-5.7-28.9-5.7h-12.2V94.6z">
                                </path>
                                <path d="M461.2,200.5H351.6V10h109.7v33.1h-69.3v41.8h64.5V118h-64.5v49.1h69.3V200.5z">
                                </path>
                                <path
                                    d="M609.6,10h40.8l-64.7,190.4h-44L477,10h40.8l35.8,113.3c2,6.7,4.1,14.5,6.2,23.4c2.1,8.9,3.5,15.1,4,18.6 c1-8,4.2-22,9.8-41.9L609.6,10z">
                                </path>
                                <path d="M674.3,200.5V10h40.4v190.4H674.3z"></path>
                                <path d="M872.3,200.5H762.6V10h109.7v33.1H803v41.8h64.5V118H803v49.1h69.3V200.5z">
                                </path>
                                <path
                                    d="M1097.5,200.5h-46l-25.8-100c-1-3.6-2.6-10.9-4.9-22.1c-2.3-11.2-3.6-18.6-4-22.5c-0.5,4.7-1.8,12.2-3.9,22.6 c-2.1,10.4-3.7,17.8-4.8,22.2l-25.7,99.8h-45.8L888.1,10h39.7L952.1,114c4.3,19.2,7.3,35.8,9.2,49.9c0.5-4.9,1.7-12.6,3.6-23 c1.9-10.4,3.6-18.4,5.3-24.2L998,10h38.2l27.7,106.7c1.2,4.8,2.7,12.1,4.6,21.9c1.8,9.8,3.2,18.2,4.2,25.3 c0.9-6.8,2.3-15.2,4.2-25.3c1.9-10.1,3.6-18.3,5.2-24.6L1106.2,10h39.7L1097.5,200.5z">
                                </path>
                            </g>
                        </svg>
                        <div class="general-section kickresume-section-hover-frame basic no-avatar">
                            <h2 class="name"><span> Tarun Gupta </span></h2>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Personal Information</span></div>
                            </h6>
                            <div class="general-info-wrapper"><span class="general-info no-avatar">
                                    <div class="info-wrapper"><span class="key">Date of birth: </span><span
                                            class="value">14-10-1999</span></div>
                                    <div class="info-wrapper"><span class="key">Nationality: </span><span
                                            class="value">Indian</span></div>
                                    <div class="info-wrapper"><span class="key">Address: </span><span
                                            class="value">1678/3 Vijaynagar Chappar Rampur, Jabalpur 482001,
                                            India</span></div>
                                    <div class="info-wrapper"><span class="key">Phone number: </span><a class="value"
                                            href="tel:6267584394">6267584394</a></div>
                                    <div class="info-wrapper"><span class="key">Email address: </span><a class="value"
                                            href="mailto:tarungupta08100509@gmail.com" target="_blank"
                                            rel="noopener noreferrer nofollow ugc">tarungupta08100509<wbr>@gmail.com</a>
                                    </div>
                                    <div class="info-wrapper"><span class="key">Web: </span><a class="value"
                                            href="https://www.linkedin.com/in/tarun-gupta-345748227/" target="_blank"
                                            rel="noopener noreferrer nofollow ugc">https://www.linkedin.com/in/tarun-gupta-345748227/</a>
                                    </div>
                                </span></div>
                        </div>
                        <div class="general-section kickresume-section-hover-frame basic no-avatar">
                            <h2 class="name"><span> Tarun Gupta </span></h2>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Personal Information</span></div>
                            </h6>
                            <div class="general-info-wrapper"><span class="general-info no-avatar">
                                    <div class="info-wrapper"><span class="key">Date of birth: </span><span
                                            class="value">14-10-1999</span></div>
                                    <div class="info-wrapper"><span class="key">Nationality: </span><span
                                            class="value">Indian</span></div>
                                    <div class="info-wrapper"><span class="key">Address: </span><span
                                            class="value">1678/3 Vijaynagar Chappar Rampur, Jabalpur 482001,
                                            India</span></div>
                                    <div class="info-wrapper"><span class="key">Phone number: </span><a class="value"
                                            href="tel:6267584394">6267584394</a></div>
                                    <div class="info-wrapper"><span class="key">Email address: </span><a class="value"
                                            href="mailto:tarungupta08100509@gmail.com" target="_blank"
                                            rel="noopener noreferrer nofollow ugc">tarungupta08100509<wbr>@gmail.com</a>
                                    </div>
                                    <div class="info-wrapper"><span class="key">Web: </span><a class="value"
                                            href="https://www.linkedin.com/in/tarun-gupta-345748227/" target="_blank"
                                            rel="noopener noreferrer nofollow ugc">https://www.linkedin.com/in/tarun-gupta-345748227/</a>
                                    </div>
                                </span></div>
                        </div>
                        <div class="column-wrapper rich-text-section kickresume-section-wrapper kickresume-section-hover-frame"
                            id="profile">
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Profile</span></div>
                            </h6>
                            <div class="text-area rich-text-area">
                                <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            </div>
                        </div>
                        <div class="column-wrapper rich-text-section kickresume-section-wrapper kickresume-section-hover-frame"
                            id="profile">
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Profile</span></div>
                            </h6>
                            <div class="text-area rich-text-area">
                                <div refb="fed4d903-8e1a-11ee-86be-bfb820d52703"></div>
                                <div refb="fed4d903-8e1a-11ee-86be-bfb820d52703">
                                    <ul refb="fed50010-8e1a-11ee-86be-bfb820d52703"></ul>
                                    <ul refb="fed50010-8e1a-11ee-86be-bfb820d52703">
                                        <li class="description " refb="fed50011-8e1a-11ee-86be-bfb820d52703"><span>2+
                                            </span><span>years </span><span>of </span><span>experience </span><span>in
                                            </span><span>the </span><span>IT </span><span>Recruiting
                                            </span><span>Industry, </span><span>have </span><span>been
                                            </span><span>working </span><span>as </span><span>an </span><span>IT
                                            </span><span>Recruiter.</span></li>
                                        <li class="description " refb="fed50011-8e1a-11ee-86be-bfb820d52703"><span>2+
                                            </span><span>years </span><span>of </span><span>experience </span><span>in
                                            </span><span>the </span><span>IT </span><span>Recruiting
                                            </span><span>Industry, </span><span>have </span><span>been
                                            </span><span>working </span><span>as </span><span>an </span><span>IT
                                            </span><span>Recruiter.</span></li>
                                        <li class="description " refb="fed50012-8e1a-11ee-86be-bfb820d52703">
                                            <span>Complete </span><span>knowledge </span><span>of </span><span>Full
                                            </span><span>Life-Cycle </span><span>recruiting </span><span>including
                                            </span><span>screening </span><span>and </span><span>interviewing.</span>
                                        </li>
                                        <li class="description " refb="fed50012-8e1a-11ee-86be-bfb820d52703">
                                            <span>Complete </span><span>knowledge </span><span>of </span><span>Full
                                            </span><span>Life-Cycle </span><span>recruiting </span><span>including
                                            </span><span>screening </span><span>and </span><span>interviewing.</span>
                                        </li>
                                        <li class="description " refb="fed50013-8e1a-11ee-86be-bfb820d52703">
                                            <span>Skilled </span><span>in </span><span>handling </span><span>Clients
                                            </span><span>in </span><span>an </span><span>excellent </span><span>way
                                            </span><span>and </span><span>keeping </span><span>them </span><span>happy
                                            </span><span>by </span><span>providing </span><span>the </span><span>best
                                            </span><span>of </span><span>the </span><span>best
                                            </span><span>service.</span></li>
                                        <li class="description " refb="fed50013-8e1a-11ee-86be-bfb820d52703">
                                            <span>Skilled </span><span>in </span><span>handling </span><span>Clients
                                            </span><span>in </span><span>an </span><span>excellent </span><span>way
                                            </span><span>and </span><span>keeping </span><span>them </span><span>happy
                                            </span><span>by </span><span>providing </span><span>the </span><span>best
                                            </span><span>of </span><span>the </span><span>best
                                            </span><span>service.</span></li>
                                        <li class="description " refb="fed50014-8e1a-11ee-86be-bfb820d52703">
                                            <span>Excellent </span><span>written, </span><span>verbal
                                            </span><span>analytical, </span><span>and </span><span>problem-solving
                                            </span><span>skills.</span></li>
                                        <li class="description " refb="fed50014-8e1a-11ee-86be-bfb820d52703">
                                            <span>Excellent </span><span>written, </span><span>verbal
                                            </span><span>analytical, </span><span>and </span><span>problem-solving
                                            </span><span>skills.</span></li>
                                        <li class="description " refb="fed50015-8e1a-11ee-86be-bfb820d52703">
                                            <span>Computer </span><span>proficiency </span><span>in
                                            </span><span>Microsoft </span><span>Office </span><span>Suite
                                            </span><span>2003,2007, </span><span>2010,2013,2016 </span><span>(MS-WORD,
                                            </span><span>MS </span><span>Outlook, </span><span>MS </span><span>EXCEL,
                                            </span><span>MS-POWERPOINT), </span><span>Dice, </span><span>Monster,
                                            </span><span>other </span><span>Search </span><span>engines.</span></li>
                                        <li class="description " refb="fed50015-8e1a-11ee-86be-bfb820d52703">
                                            <span>Computer </span><span>proficiency </span><span>in
                                            </span><span>Microsoft </span><span>Office </span><span>Suite
                                            </span><span>2003,2007, </span><span>2010,2013,2016 </span><span>(MS-WORD,
                                            </span><span>MS </span><span>Outlook, </span><span>MS </span><span>EXCEL,
                                            </span><span>MS-POWERPOINT), </span><span>Dice, </span><span>Monster,
                                            </span><span>other </span><span>Search </span><span>engines.</span></li>
                                    </ul>
                                </div>
                                <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            </div>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                            id="7c296575-4bcd-4444-860a-432ac6684a22">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Work experience</span></div>
                            </h6>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                            id="7c296575-4bcd-4444-860a-432ac6684a22">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Work experience</span></div>
                            </h6>
                            <div class="experience-item"></div>
                            <div class="experience-item">
                                <div class="column left-column-render">
                                    <div class="left-column-wrapper">
                                        <div class="date"><span></span></div>
                                    </div>
                                    <div class="left-column-wrapper">
                                        <div class="date"><span></span></div>
                                    </div>
                                </div>
                                <div class="column right-column-render">
                                    <div class="experience-info">
                                        <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                        <div class="position"></div>
                                        <div class="company-name"></div>
                                    </div>
                                    <div class="experience-info">
                                        <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                        <div class="position"></div>
                                        <div class="company-name"></div>
                                    </div>
                                    <div class="experience-description"></div>
                                    <div class="experience-description">
                                        <div refb="fed5001b-8e1a-11ee-86be-bfb820d52703"></div>
                                        <div refb="fed5001b-8e1a-11ee-86be-bfb820d52703">
                                            <div class="description " refb="fed5001c-8e1a-11ee-86be-bfb820d52703"></div>
                                            <div class="description " refb="fed5001c-8e1a-11ee-86be-bfb820d52703"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                            id="8d0abb98-b0e0-4c91-a1b0-45ea2195c12d">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Education</span></div>
                            </h6>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame experience-section b type-four column-wrapper"
                            id="8d0abb98-b0e0-4c91-a1b0-45ea2195c12d">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Education</span></div>
                            </h6>
                            <div class="experience-item"></div>
                            <div class="experience-item">
                                <div class="column left-column-render">
                                    <div class="left-column-wrapper">
                                        <div class="date"><span></span></div>
                                    </div>
                                    <div class="left-column-wrapper">
                                        <div class="date"><span></span></div>
                                    </div>
                                </div>
                                <div class="column right-column-render">
                                    <div class="experience-info">
                                        <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                        <div class="position"></div>
                                        <div class="company-name"></div>
                                    </div>
                                    <div class="experience-info">
                                        <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                        <div class="position"></div>
                                        <div class="company-name"></div>
                                    </div>
                                    <div class="experience-description"></div>
                                    <div class="experience-description">
                                        <div refb="fed50022-8e1a-11ee-86be-bfb820d52703"></div>
                                        <div refb="fed50022-8e1a-11ee-86be-bfb820d52703">
                                            <div class="description " refb="fed50023-8e1a-11ee-86be-bfb820d52703"></div>
                                            <div class="description " refb="fed50023-8e1a-11ee-86be-bfb820d52703"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame skill-section type-one column-wrapper"
                            id="d9c92d44-eea7-4161-a303-4391608a0929">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Skills</span></div>
                            </h6>
                        </div>
                        <div class="kickresume-section-wrapper kickresume-section-hover-frame skill-section type-one column-wrapper"
                            id="d9c92d44-eea7-4161-a303-4391608a0929">
                            <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                            <h6 class="headline type-two headline-asTyped">
                                <div class="background-wrapper"><span class="text">Skills</span></div>
                            </h6>
                            <div class="skill-category column-wrapper">
                                <div class="skill-wrapper">
                                    <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    <div class="skills"></div>
                                </div>
                            </div>
                            <div class="skill-category column-wrapper">
                                <div class="skill-wrapper">
                                    <div class="NoteDetails__note-detail___yB3Xx5OauH note-detail-item">&nbsp;</div>
                                    <div class="skills">
                                        <div class="skills-row">
                                            <div class="skill">
                                                <div class="skill-name"></div>
                                                <div class="skill-description-wrapper">
                                                    <div class="skill-description">
                                                        <div><i></i><i></i><i></i><i></i><i></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skills-row">
                                            <div class="skill">
                                                <div class="skill-name"></div>
                                                <div class="skill-description-wrapper">
                                                    <div class="skill-description">
                                                        <div><i></i><i></i><i></i><i></i><i></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-ornament"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>