<div class="py-4">
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item">
        <a href="#"
          ><svg
            class="icon icon-xxs"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path></svg></a>
      </li>
      <li class="breadcrumb-item"><a href="#">Volt</a></li>
      <li class="breadcrumb-item active" aria-current="page">Calendar</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Calendar</h1>
      <p class="mb-0">
        Dozens of reusable components built to provide buttons, alerts,
        popovers, and more.
      </p>
    </div>
    <div>
      <a
        href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/calendar/"
        class="btn btn-outline-gray-600 d-inline-flex align-items-center"
        ><svg
          class="icon icon-xs me-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Calendar Docs</a
      >
    </div>
  </div>
</div>

<div class="card border-0 shadow">
  <div
    id="calendar"
    class="p-4 fc fc-media-screen fc-direction-ltr fc-theme-bootstrap"
  >
    <div class="fc-header-toolbar fc-toolbar">
      <div class="fc-toolbar-chunk">
        <h2 class="fc-toolbar-title">December 2020</h2>
      </div>
      <div class="fc-toolbar-chunk"></div>
      <div class="fc-toolbar-chunk">
        <button class="fc-today-button btn btn-primary" type="button">
          today
        </button>
        <div class="btn-group">
          <button class="fc-prev-button btn btn-primary" type="button">
            Previous</button
          ><button class="fc-next-button btn btn-primary" type="button">
            Next
          </button>
        </div>
      </div>
    </div>
    <div
      class="fc-view-harness fc-view-harness-active"
      style="height: 814.815px"
    >
      <div class="fc-daygrid fc-dayGridMonth-view fc-view">
        <table class="fc-scrollgrid table-bordered fc-scrollgrid-liquid">
          <thead>
            <tr class="fc-scrollgrid-section fc-scrollgrid-section-header">
              <td>
                <div class="fc-scroller-harness">
                  <div class="fc-scroller" style="overflow: hidden scroll">
                    <table class="fc-col-header" style="width: 1099px">
                      <colgroup></colgroup>
                      <tbody>
                        <tr>
                          <th class="fc-col-header-cell fc-day fc-day-sun">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Sun</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-mon">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Mon</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-tue">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Tue</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-wed">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Wed</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-thu">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Thu</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-fri">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Fri</a>
                            </div>
                          </th>
                          <th class="fc-col-header-cell fc-day fc-day-sat">
                            <div class="fc-scrollgrid-sync-inner">
                              <a class="fc-col-header-cell-cushion">Sat</a>
                            </div>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr
              class="fc-scrollgrid-section fc-scrollgrid-section-body fc-scrollgrid-section-liquid"
            >
              <td>
                <div class="fc-scroller-harness fc-scroller-harness-liquid">
                  <div
                    class="fc-scroller fc-scroller-liquid-absolute"
                    style="overflow: hidden scroll"
                  >
                    <div
                      class="fc-daygrid-body fc-daygrid-body-unbalanced"
                      style="width: 1099px"
                    >
                      <table
                        class="fc-scrollgrid-sync-table"
                        style="width: 1099px; height: 775px"
                      >
                        <colgroup></colgroup>
                        <tbody>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past fc-day-other"
                              data-date="2020-11-29"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">29</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-green"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              HackTM conference
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past fc-day-other"
                              data-date="2020-11-30"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">30</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past"
                              data-date="2020-12-01"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">1</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-blue"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Meeting with John
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past"
                              data-date="2020-12-02"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">2</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-red"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Cyber Week
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past"
                              data-date="2020-12-03"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">3</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-purple"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Summer Hackaton
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past"
                              data-date="2020-12-04"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">4</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past"
                              data-date="2020-12-05"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">5</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past"
                              data-date="2020-12-06"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">6</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past"
                              data-date="2020-12-07"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">7</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness fc-daygrid-event-harness-abs"
                                    style="top: 0px; left: 0px; right: -157px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-info"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Digital event
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 29px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past"
                              data-date="2020-12-08"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">8</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 29px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past"
                              data-date="2020-12-09"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">9</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past"
                              data-date="2020-12-10"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">10</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-blue"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Marketing event
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past"
                              data-date="2020-12-11"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">11</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past"
                              data-date="2020-12-12"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">12</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past"
                              data-date="2020-12-13"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">13</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past"
                              data-date="2020-12-14"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">14</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past"
                              data-date="2020-12-15"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">15</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past"
                              data-date="2020-12-16"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">16</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past"
                              data-date="2020-12-17"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">17</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past"
                              data-date="2020-12-18"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">18</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past"
                              data-date="2020-12-19"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">19</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-red"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Dinner with Parents
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past"
                              data-date="2020-12-20"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">20</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past"
                              data-date="2020-12-21"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">21</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past"
                              data-date="2020-12-22"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">22</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past"
                              data-date="2020-12-23"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">23</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-event-harness"
                                    style="margin-top: 0px"
                                  >
                                    <a
                                      class="fc-daygrid-event fc-daygrid-block-event fc-h-event fc-event fc-event-draggable fc-event-resizable fc-event-start fc-event-end fc-event-past bg-yellow"
                                      ><div class="fc-event-main">
                                        <div class="fc-event-main-frame">
                                          <div class="fc-event-title-container">
                                            <div
                                              class="fc-event-title fc-sticky"
                                            >
                                              Black Friday
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="fc-event-resizer fc-event-resizer-end"
                                      ></div
                                    ></a>
                                  </div>
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past"
                              data-date="2020-12-24"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">24</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past"
                              data-date="2020-12-25"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">25</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past"
                              data-date="2020-12-26"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">26</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past"
                              data-date="2020-12-27"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">27</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past"
                              data-date="2020-12-28"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">28</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past"
                              data-date="2020-12-29"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">29</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past"
                              data-date="2020-12-30"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">30</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past"
                              data-date="2020-12-31"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">31</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past fc-day-other"
                              data-date="2021-01-01"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">1</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past fc-day-other"
                              data-date="2021-01-02"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">2</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sun fc-day-past fc-day-other"
                              data-date="2021-01-03"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">3</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-mon fc-day-past fc-day-other"
                              data-date="2021-01-04"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">4</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-tue fc-day-past fc-day-other"
                              data-date="2021-01-05"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">5</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-wed fc-day-past fc-day-other"
                              data-date="2021-01-06"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">6</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-thu fc-day-past fc-day-other"
                              data-date="2021-01-07"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">7</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-fri fc-day-past fc-day-other"
                              data-date="2021-01-08"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">8</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                            <td
                              class="fc-daygrid-day fc-day fc-day-sat fc-day-past fc-day-other"
                              data-date="2021-01-09"
                            >
                              <div
                                class="fc-daygrid-day-frame fc-scrollgrid-sync-inner"
                              >
                                <div class="fc-daygrid-day-top">
                                  <a class="fc-daygrid-day-number">9</a>
                                </div>
                                <div class="fc-daygrid-day-events">
                                  <div
                                    class="fc-daygrid-day-bottom"
                                    style="margin-top: 0px"
                                  ></div>
                                </div>
                                <div class="fc-daygrid-day-bg"></div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
