<svg id="logo">
  <rect id="b-l" class="logo_square" x="0"  y="20" width="10" height="10" style="fill:#1A82E2" />
  <rect id="b-m" class="logo_square" x="10" y="20" width="10" height="10" style="fill:#99E1F4" />
  <rect id="m-m" class="logo_square" x="10" y="10" width="10" height="10" style="fill:#009DD9" />
  <rect id="t-m" class="logo_square" x="10" y="0"  width="10" height="10" style="fill:#00B3E3" />
  <rect id="t-r" class="logo_square" x="20" y="0"  width="10" height="10" style="fill:#1A82E2" />
  <rect id="m-l" class="logo_square" x="00" y="10" width="10" height="10" style="fill:#99E1F4" />
  <rect id="m-r" class="logo_square" x="20" y="10" width="10" height="10" style="fill:#00B3E3" />
</svg>